.stuffing {
    min-height: 400px;
}


    .stuffing .media {
        margin: 2% 10% 2% 10%;
        width: 80%;
        border: 2px;
        border-color: #f891a0;
    }

        .stuffing .media img {
            height: 150px;
            width: 150px;
            border-radius: 10%;
            /*box-shadow: 0px 0px 10px 0px #f891a0;*/
        }

        .stuffing .media-body {
            padding: 10px;
            box-shadow: 0px 0px 1px 0px grey;
            border-radius: 10px;
        }
